{{- if .IsHome -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "{{ .Site.Title }}",
  "url": "{{ .Site.BaseURL }}",
  "logo": "{{ .Site.BaseURL }}images/logo-comtipo.png",
  "sameAs": [
    "https://instagram.com/comtipo",
    "https://shopee.com.br/comtipo"
  ],
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "+55-62-99999-9999",
    "contactType": "customer service",
    "areaServed": "BR",
    "availableLanguage": "Portuguese"
  }
}
</script>
{{- end -}}

{{- if eq .Section "produtos" -}}
{{- if .IsPage -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Product",
  "name": "{{ .Title }}",
  "image": [
    {{- if .Params.cover.image -}}
    "{{ .Permalink }}{{ .Params.cover.image }}"
    {{- else -}}
    "{{ .Site.BaseURL }}images/default-product.jpg"
    {{- end -}}
  ],
  "description": "{{ .Summary | plainify }}",
  "sku": "{{ .Params.isbn | default .File.UniqueID }}",
  "brand": {
    "@type": "Brand",
    "name": "Comtipo"
  },
  "offers": {
    "@type": "Offer",
    "url": "{{ .Permalink }}",
    "priceCurrency": "BRL",
    "price": "{{ .Params.preco }}",
    "itemCondition": "https://schema.org/NewCondition",
    "availability": "https://schema.org/{{ if eq .Params.disponibilidade 'Em Estoque' }}InStock{{ else }}OutOfStock{{ end }}"
  }
}
</script>
{{- end -}}
{{- end -}}